@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
:root{
  --primary-color: #ffde59;
  --body-color: #395475;
  --shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
  --primary-font: "Bangers", system-ui;
  --secondary-font: Georgia, 'Times New Roman', Times, serif;
}
.rounded-3{border-radius: 10px !important;}
.text-primary-color{color: var(--primary-color) !important;}
.text-body-color{color: var(--body-color) !important;}
.bg-primary-color{background-color: var(--primary-color) !important;}
.bg-body-color{background-color: var(--body-color) !important;}

.box-shadow{box-shadow: var(--shadow);}
.title-stroke{
  color: var(--primary-color);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.title-stroke-sm{
  color: var(--body-color);
  -webkit-text-stroke-width: .1px;
  -webkit-text-stroke-color: black;
}

.tracking-1{letter-spacing: 1px;}
.tracking-2{letter-spacing: 2px;}

.primary-border{border-color: var(--primary-color) !important;}
.body-border{border-color: var(--body-color) !important;}

.primary-drop-shadow{filter: drop-shadow(0px 1px 1px var(--primary-color)) !important;}
.body-drop-shadow{filter: drop-shadow(0px 1px 1px var(--body-color)) !important;}

.font-bangers{
  font-family: "Bangers", system-ui;
}
.section-padding{padding-top: 80px;padding-bottom: 80px;}
div[id]{padding-top: 100px;margin-top: -100px;}
body{
  color: var(--body-color);
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: var(--primary-color);
}
body footer,
body main,
body header{
  /* margin: 20px;background-color: #fff;min-height: 100px; */
}





header *{transition: .3s;}
header .navbar{position: fixed;width: auto;top: 0;left: 0;right: 0;z-index: 1050;}
header .navbar .nav-item{}
header .navbar .nav-item .nav-link{color: var(--body-color);font-family: var(--primary-font);padding: 10px 40px;}
header .navbar .nav-item .nav-link.active{position: relative;}
header .navbar .nav-item .nav-link.active:after{position: absolute;left: 0;right: 0;bottom: 0;height: 4px;width: 50%;background-color: var(--body-color);content: '';margin: auto;border-radius: 2px;}

main{margin-top: 170px;}

.nav-fixed{}
.nav-fixed .navbar{margin: 0 !important;border-radius: 0 !important;padding: 10px 0;}
.nav-fixed img{width: 100px;}
.nav-fixed div#collapsibleNavId{padding-top: 0 !important;margin-top: 0 !important;}
.nav-fixed .btn{font-size: 16px !important;padding: 6px 30px !important;}



.hero-section{}
.hero-section video{height: 700px;object-fit: cover;object-position: center;width: 100%;margin-bottom: -7px;}



.fancy-radius{border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;}

.bg-light{
  
}




.pictures-portion{}
.pictures-portion .gallery-carousel img{height: 440px;object-fit: cover;object-position: center;}


.contact-info{}
.contact-info .w-fixed{width: 100px;}



.mapouter {
  position: relative;
  text-align: right;
  height: 100%;
  width: 100%;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 100%;
  width: 100%;
}


.card-columns {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  orphans: 1;
  widows: 1;
}  


.card-columns{}


.reviews-carousel{}
.reviews-carousel .d-flex{}
.reviews-carousel .text-meta{padding: 20px 40px; padding-left: 290px;margin: 30px 0;position: relative;z-index: 0;height: 100%;min-height: 250px;display: flex; flex-direction: column;
}
.reviews-carousel .text-meta p{display: -webkit-box; -webkit-line-clamp: 5; -webkit-box-orient: vertical; 
  overflow: hidden;}
.reviews-carousel .d-flex{position: relative;}
.reviews-carousel .d-flex>div:first-child{position: absolute;z-index: 1;}
.reviews-carousel img{width: 250px !important;height: 250px !important;border-radius: 50%;}






.reviews-carousel .d-flex{}











@media(max-width:1200px){
  .hero-section video{height: 400px;}
  .navbar img {
    width: 100px;
}
.fs-5 {
  font-size: 16px !important;
}
.card-columns {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}
.reviews-carousel .text-meta{padding: 30px 60px 30px 60px;padding-left: 300px;}
main {
  margin-top: 125px;
}
header .navbar .nav-item .nav-link.active:after{margin: unset;}
}
@media(max-width:992px){
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media(max-width:768px){
  .reviews-carousel .text-meta{padding: 100px 15px 30px 15px;border-radius: 10px !important;text-align: center;}
  .reviews-carousel .d-flex{flex-direction: column;}
  .reviews-carousel .d-flex>div:first-child{position: unset;margin-bottom: -110px;}
  .reviews-carousel .d-flex img{width: 140px !important;height: 140px !important;}
  
}
@media(max-width:576px){
  .card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }  
  main {
    margin-top: 110px;
  }
}